* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  display: flex;
  background: rgba(0,0,0,0.9) !important;
  padding: 20px 10px;
}

.pettle-icon {
  width: 11vw;
}

.nav {
  flex-wrap: wrap;
  width: 100%;
  padding: 2vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  font-size: 19px;
}

.list-item {
  text-decoration: none;
  color:  rgba(255,255,255,0.5);
  margin: 0 2vw;
}