.login-main {
  width: 100%;
  min-width: 800px;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../bg.gif");
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.log-btn {
  width: 100%;
  background: rgb(253 255 218 / 53%);
  border: 1px solid #7f5554;
  color: #866d6d;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}
